In [11]:
import pandas as pd
import numpy as np
fertility = pd.read_csv('./data/합계출산율.csv', encoding='cp949')
fertility.columns = ['합계출산율;'+i for i in fertility.columns]
hdi = pd.read_excel('./data/인간개발지수.xlsx', header=[0,1])
hdi.columns = [';'.join(i) for i in hdi.columns]
hdi['국가별;국가별'] = hdi['국가별;국가별'].apply(lambda x: x.strip())
gdp = pd.read_csv('./data/국민소득.csv', encoding='cp949', header=[0,1])
gdp.columns = [';'.join(i) for i in gdp.columns]
urban = pd.read_csv('./data/도시화율.csv', encoding='cp949')
urban.columns = ['도시화율;'+i for i in urban.columns]
pop = pd.read_csv('./data/인구동향.csv', encoding='cp949', header=[0,1])
pop.columns = [';'.join(i) for i in pop.columns]
edu = pd.read_excel('./data/교육정도별_취학률.xlsx', header=[0,1])
edu[('국가별','국가별')] = np.repeat(edu[('국가별','국가별')]\
                               [edu[('국가별','국가별')].isna()==False].values,
                               3)
edu[('국가별','국가별')] = edu[('국가별','국가별')].apply(lambda x: x.strip())
edu.columns = [';'.join(i) for i in edu.columns]
edu = pd.concat([edu.pivot(values = i, columns = '성별;성별', index = '국가별;국가별')
                for i in edu.columns[2:]], keys = [i for i in edu.columns[2:]],
                axis=1)
edu.columns = [';'.join(i) for i in edu.columns]
edu[edu.index.name] = edu.index
edu.index = range(len(edu))
merged_df = gdp.copy()
for file in (fertility, urban, hdi, pop, edu):
    try:
        merged_df = merged_df.merge(file,
                              'outer',
                              left_on = '국가;국가',
                              right_on = '국가별;국가별',
                              )
    except:
        merged_df = merged_df.merge(file,
                              'outer',
                              left_on = '국가;국가',
                              right_on = file.columns[file.columns.str.endswith('국가별')][0],
                              )
nation_column = merged_df[merged_df.columns[merged_df.columns.str.contains('국가(별|;)')]]
merged_df = merged_df.drop(
    columns = merged_df.columns[merged_df.columns.str.contains('국가(별|;)')])
merged_df['국가'] = nation_column.apply(lambda x: x[x.isna()==False].iloc[0], axis=1)
def all_na(df_col):
    not_na = df_col[df_col.isna()==False]
    if len(not_na)>0:
        return not_na.iloc[0]
    else:
        return np.nan
duplicate = merged_df['국가'].value_counts()[merged_df['국가'].value_counts()>1].index
rm_na_df = merged_df[merged_df['국가'].isin(duplicate)].\
                                groupby('국가').apply(lambda x: x.apply(all_na))
merged_df = merged_df.drop(index = merged_df[merged_df['국가'].isin(duplicate)].index)
pd.concat([merged_df,rm_na_df], axis=0).to_csv('210809자료합친파일.csv', index=False)

/Users/gahyun/opt/anaconda3/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:221: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/Users/gahyun/opt/anaconda3/lib/python3.8/site-packages/pandas/core/strings/accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [12]:
pd.read_csv('./210809자료합친파일.csv')

,2015;국내총생산(GDP $),2016;국내총생산(GDP $),2017;국내총생산(GDP $),2018;국내총생산(GDP $),2019;국내총생산(GDP $),2020;국내총생산(GDP $),합계출산율;2015,합계출산율;2020,도시화율;2015,도시화율;2016,...,고등교육;2017;남자,고등교육;2017;여자,고등교육;2017;합계,고등교육;2018;남자,고등교육;2018;여자,고등교육;2018;합계,고등교육;2019;남자,고등교육;2019;여자,고등교육;2019;합계,국가
0,19907111418.994 (US$),18017749073.636 (US$),18869945678.422 (US$),18353881129.525 (US$),19291104007.614 (US$),19807067268.108 (US$),5.45,4.56,24.8,25.0,...,-,-,-,14.2,4.9,9.7,-,-,-,아프가니스탄
1,11386846319.159 (US$),11861200797.471 (US$),13019693450.882 (US$),15147020535.387 (US$),15286612572.690 (US$),14799615097.101 (US$),1.71,1.62,57.4,58.4,...,45.7,69.8,57.4,43,67.6,55,-,-,-,알바니아
2,165979173991.026 (US$),160034162957.738 (US$),170097230857.956 (US$),175414987760.927 (US$),171157803367.473 (US$),145163902228.168 (US$),2.96,3.05,70.8,71.5,...,38.4,57.2,47.6,38.8,64.4,51.4,-,-,-,알제리
3,673000000.000 (US$),671000000.000 (US$),612000000.000 (US$),641000000.000 (US$),638000000.000 (US$),-,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,미국령사모아
4,2789870187.507 (US$),2896679211.866 (US$),3000180750.113 (US$),3218316013.226 (US$),3155065487.518 (US$),-,NaN,NaN,88.3,88.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,안도라
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.6,47.0,...,-,-,-,11.7,20.9,16.3,-,-,-,영국령버진아일랜드
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,오세아니아
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,유럽
228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,...,-,-,-,-,-,-,-,-,-,지브롤터
229,NaN,NaN,NaN,NaN,NaN,NaN,2.04,1.95,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,프랑스령폴리네시아